body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

header{
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 0px;
}
h1{
	margin-top: 0px;
	padding: 10px;
	color: white;
}
.bar{
	margin-bottom: 0px;
}
.tambah a{
	color: white;
	border: 1px solid black;
	padding: 5px;
	background-color: rgba(11, 156, 49, 0.8);
	text-decoration: none;
}
.tambah a:hover{
	background-color: rgba(35, 196, 63, 1);
	transition: 1s;
}
#cari{
	background-color: #ff6500;
	border: 2px solid #ff6500;
	color: white;
	width: 60px;
	padding: 2px;
}
#cari:hover{
	background-color: #ff7d27;
	border: 2px solid #ff7d27;
	transition: 1s;
}
.search{

}
.btn button{
	width: 60px;
}
.btn a{
	color: white;
	text-decoration: none;
}
.edit{
	background-color: green;
	border: 1px solid green;
	padding: 2px;
	color: white;
}
.edit:hover{
	background-color: #026302;
	border: 1px solid #026302;
	transition: 1s;
}
.delete{
	background-color: #ff0c0c;
	border: 1px solid #ff0c0c;
	padding: 2px;
}
.delete:hover{
	background-color: #bd0808;
	border: 1px solid #bd0808;
	transition: 1s;
}

.content{
	height: auto;
	padding: 5px;
	padding-top: 10px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.2);
}

.row{
	width: 90%;
	margin-bottom: 40px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}
.column{
	float: left;
	width: 15%;
	padding: 15px;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 5px;
	text-align: center;
	background-color: #f1f1f1;
}
.card p{
	font-size: 17px;
	color: black;
}

footer{
	background-color: black;
	color: white;
	padding: 1px 50px;
	height: auto;
	text-align: right;
}



@media screen and (max-width: 780px) /*ukuran tab*/
{
	.column{
		width: 40%;
		padding: 10px;
	}	
}

@media screen and (max-width: 480px) /*ukuran hp*/
{
	.column{
		width: 40%;
		padding: 5px;
	}
	.search{
		width: 250px;
	}		
}

